@import "tailwindcss";

body {
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #312e81, #1e3a8a, #000);
  border: none;
}

/* Completely hide scrollbar but keep scroll behavior */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
